{% extends 'meetups/base/base.html' %}
{% load static %}


{% block title %}
    All Meetups
{% endblock title %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meets.css' %}">
{% endblock site_css %}




    <header id="main-header">
        <nav>
            <a href="/meetups" id="main-logo">meet ups</a>
        </nav>

        {% block main_heading %}
            we got some great meet ups coming up
        {% endblock main_heading %}
        
        <p>
            Find the one that suits your needs
        </p>
        {% block body %}
        <section>
            <h1>Upcoming meetups</h1>
            <ol>
                {% for meetup_item in meetups  %}
                    {% include 'meetups/includes/meetup-item.html' with title=meetup_item.title location="New York" slug=meetup_item.slug image=meetup_item.image.url%}
                {% endfor %}
            </ol>
            {% endblock body %}
